@model IowaFlexLongitudinalViewModel
@{
    if (Model.ContentIndicator == "pdf")
    {
        Layout = MVC.Shared.Views._Layout_Pdf;
    }
    else if (Model.IsDemo)
    {
        Layout = MVC.Shared.Views.dm_ui._Layout_NoMenu;
    }
    ViewBag.Title = "IowaFlex Longitudinal Reporting";
    ViewBag.MainTitle = "IowaFlex Longitudinal Reporting";
}

@if (Model.ContentIndicator == "pdf")
{
    ViewBag.pdf_wrapper = "pdf-wrapper dashboard-main-page";
    <div id="pdf-debug-console"></div>
}

<div>
    <img src="@Links.Reskin.Content.img.logoIowaAssessmentsAdaptive_png" class="logoIowaAssessmentsAdaptive dashboard-page" />
    <div class="section-card filters root-tab-element" @*tabindex="1" data-tabindex="1"*@ role="region" aria-label="Dashboard Filters">
        <div class="root-tab-hidden-content" @*aria-hidden="true"*@></div>
    </div>

    <div class="dm-ui-page-container dm-ui-page-container-800 @ViewBag.pdf_wrapper">
        <section class="dm-ui-page-section carded-section dashboard-page-section">
            <div class="section-card performance-band-card root-tab-element" @*tabindex="2" data-tabindex="2"*@ role="region" aria-label="Performance Band Trend Analysis">
                <div class="root-tab-hidden-content" @*aria-hidden="true"*@>
                    @*<label role="tab" class="nvda-announce" tabindex="-1" tabindex-important="true"></label>*@
                    <h2 class="card-title tab first-tab-element" @*tabindex="-1"*@>Performance Band Trend Analysis</h2>
                    <div class="dropdown-wrapper">
                        @Html.DmUiMultiSelectDropdown(new List<DropdownItem> { }, "dropdown-test-event", null, false, false, 2, 3, "Select test events", false)
                    </div>
                    <h3 class="card-sub-title">Percent of Students in each Performance Band</h3>
                    <div class="performance-band-blocks-wrapper">
                        @for (var i = 0; i < 3; ++i)
                        {
                            <div class="block tab" @*tabindex="-1"*@>
                                @for (var j = 1; j <= 5; ++j)
                                {
                                    <div class="row">
                                        <div class="left-part">Level @j</div>
                                        <div class="right-part">
                                            <div class="line">
                                                <div class="filled" style="width: 0%;"></div>
                                                <div class="text">0%</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="title"><span>&nbsp;</span></div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="section-card performance-summary-card root-tab-element" @*tabindex="2" data-tabindex="2"*@ role="region" aria-label="Performance Band Change Summary">
                <div class="root-tab-hidden-content" @*aria-hidden="true"*@>
                    @*<label role="tab" class="nvda-announce" tabindex="-1" tabindex-important="true"></label>*@
                    <h3 class="card-sub-title first-tab-element"><span class="tab" @*tabindex="-1"*@>Performance Band Change Summary</span></h3>
                    <h4 id="performance-summary-label"><span class="tab" @*tabindex="-1"*@></span></h4>
                    <div class="dropdown-wrapper">
                        @Html.DmUiMultiSelectDropdown(new List<DropdownItem> { }, "dropdown-summary-test-event", null, false, false, 2, 2, "Select test events", false)
                    </div>
                    <div class="performance-band-summary-wrapper">
                        @for (var i = 1; i <= 5; ++i)
                        {
                            <div class="block">
                                <div class="row">
                                    <div class="left-part">
                                        <div class="percent tab" @*tabindex="-1"*@ @*role="alert"*@>0%</div>
                                        Level @i
                                    </div>
                                    <div class="right-part trend-zero">
                                        Trend
                                        <div class="trend"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <aside class="dm-ui-page-aside">
            <div id="print-report-center" class="root-tab-element" @*tabindex="3" data-tabindex="3"*@ role="region" aria-label="Print Reports">
                <div class="tabs one-tab root-tab-hidden-content" @*aria-hidden="true"*@>
                    <input id="tab1" type="radio" name="tabs" checked="checked">
                    <h2><label for="tab1" role="tab">Print Reports</label></h2>
                    <input id="tab2" type="radio" name="tabs">
                    <h2 style="display: none;"><label for="tab2" role="tab" style="display: none;">Reports Center</label></h2>
                    <section id="content-tab1" role="tabpanel">
                        <p>
                            <span id="print-dashboard" class="print-button pdf-print no-spacebar-scrolling tab first-tab-element" pdf-type="dashboard" tabindex="0" role="button">
                                <span class="icon-print-blue"></span> Print Dashboard
                            </span>
                            <span id="print-student-profile" class="print-button no-spacebar-scrolling tab last-tab-element" style="display: none;" tabindex="0" role="button">
                                <span class="icon-print-blue"></span> Print Student Profile
                            </span>
                        </p>
                        <form id="form-print-dashboard" name="print_preview_form" target="print_preview_popup" method="post" action="print/page">
                            <input type="hidden" id="input" name="input" value="">
                        </form>
                        <form id="print_preview_form" name="print_preview_form" target="print_preview_popup" method="post" action="Pdf/">
                            <input type="hidden" id="pdf_type" name="pdf_type" value="">
                            <input type="hidden" id="pdf_model" name="pdf_model" value="">
                        </form>
                        <form id="print_profile_narrative_form" name="print_profile_narrative_form" target="print_preview_popup" method="post" action="print/profile_narrative"></form>
                    </section>
                    <section id="content-tab2" role="tabpanel">
                        <p>
                            <table class="print-report-table" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                <thead>
                                    <tr>
                                        <th>Report Name</th>
                                        <th>Date Created</th>
                                        <th>Days Available</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#">Report Name 1</a></td>
                                        <td>3/19/19</td>
                                        <td>5</td>
                                        <td><i class="far fa-clock"></i></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Report Name 2</a></td>
                                        <td>3/15/19</td>
                                        <td>1</td>
                                        <td><i class="fas fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Report Name 3</a></td>
                                        <td>3/17/19</td>
                                        <td>3</td>
                                        <td><i class="fas fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Report Name 4</a></td>
                                        <td>3/16/19</td>
                                        <td>2</td>
                                        <td><i class="fas fa-check"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </section>
                </div>
            </div>
            <div id="dashboard-right-column">
                <div class="dm-ui-card gains-analysis-card root-tab-element" @*tabindex="3" data-tabindex="3"*@ role="region" aria-label="Gains Analysis">
                    @*<label role="tab" class="nvda-announce" tabindex="-1" tabindex-important="true"></label>*@
                    <h2 class="card-title tab first-tab-element" @*tabindex="-1"*@>Gains Analysis</h2>
                    <h3 class="card-sub-title">Average Standard Scores</h3>
                    <div id="chart-gains-analysis"></div>
                    <div id="table-gains-analysis"></div>
                    <div id="legend-gains-analysis"></div>
                </div>
            </div>
        </aside>
    </div>

    <div class="dm-ui-page-container dm-ui-page-container-800 longitudinal @ViewBag.pdf_wrapper">
        <section class="dm-ui-page-section carded-section dashboard-page-section">
            <div class="section-card roster-table-card root-tab-element" @*tabindex="4" data-tabindex="4"*@ role="region" aria-label="Comparison Table">
                <div class="root-tab-hidden-content" @*aria-hidden="true"*@>
                    @*<label role="tab" class="nvda-announce" tabindex="-1" tabindex-important="true"></label>*@
                    <div id="roster-top-info-wrapper">
                        <div id="roster-name-wrapper">
                            <h2 id="roster-name" class="tab first-tab-element" @*tabindex="-1"*@>Student Roster</h2>
                        </div>
                        <div id="wcag-autocomplete-search-instructions" style="display: none">Begin typing to search, use arrow keys to navigate, Enter to select</div>
                        <div id="wcag-autocomplete-search-results" aria-live="assertive" class="sr-only"></div>
                        <div id="roster-top-buttons-wrapper">
                            <span id="roster-search-field">
                                @*<span data-field="node_name" class="k-filtercell" data-role="filtercell"><span><span tabindex="-1" role="presentation" style="" class="k-widget k-autocomplete k-header k-autocomplete-clearable k-state-default"><input data-bind="value: value" aria-label="Search" data-role="autocomplete" data-text-field="node_name" data-filter="startswith" data-delay="200" data-min-length="1" data-value-primitive="true" type="text" class="k-input tab" autocomplete="off" role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-autocomplete="list" aria-owns="" placeholder="Enter a Student Name" data-full-title="Student Name" tabindex="-1"><span unselectable="on" class="k-icon k-clear-value k-i-close k-hidden" title="clear" role="button" tabindex="-1"></span><span class="k-icon k-i-loading" style="display:none"></span></span><span style="" title="" class="k-widget k-dropdown k-header k-dropdown-operator tab" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-owns="" aria-live="polite" aria-disabled="false" aria-busy="false" aria-activedescendant="880f3c87-1d90-4c62-bba7-8aa5a7a4b01e"><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Contains</span><span unselectable="on" class="k-select" aria-label="select"><span class="k-icon k-i-filter"></span></span></span><input class="k-dropdown-operator tab" data-bind="value: operator" data-role="dropdownlist" style="display: none;" aria-label="Contains" tabindex="-1"></span><button type="button" class="k-button k-button-icon" title="Clear" aria-label="Clear" data-bind="visible:operatorVisible" style="display: none;"><span class="k-icon k-i-filter-clear"></span></button></span></span>*@
                            </span>
                            @*<span id="roster-filters-popup-button" class="tab no-spacebar-scrolling" tabindex="-1" aria-label="Select Report Criteria" role="button"></span>
                            <span id="roster-reset-button" class="dm-ui-button-primary dm-ui-button-small tab no-spacebar-scrolling disabled-element" tabindex="-1" title="Reset" role="button"></span>*@
                        </div>
                        <div id="roster-selected-test-events-label" style="display: none;">
                            @*<div class="tab" tabindex="-1" aria-label="Level 5, 205 through 245"><div class="arrow"></div> Level 5 (205-245)</div>*@
                        </div>
                    </div>
                    <div id="roster-table-wrapper"></div>
                    <div id="roster-legend-wrapper" class="tab" @*tabindex="-1"*@>
                        <h3 class="roster-legend-header">Legend</h3>
                        <dl class="legend">
                            <dt>Gain:</dt>
                            <dd>is equal to the difference between the first and last test</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="modal-dashboard-save-filter-changes" class="dm-ui-modal-container">
        <div class="dm-ui-modal dm-ui-modal-green" role="dialog" aria-modal="true" aria-labelledby="modal-save-filter-changes-label">
            <div role="button" class="close_icon first-tab-element wcag-modal-first-element tab" tabindex="0" aria-label="Close"></div>
            <h1 class="session-modal-text-1" id="modal-save-filter-changes-label">You are leaving Longitudinal Reporting Page. Would you like to save your filter changes?</h1>
            <section>
                <div class="dm-ui-modal-button-container-dual">
                    <button class="dm-ui-button-medium dm-ui-button-secondary">No</button>
                    <button class="dm-ui-button-medium dm-ui-button-primary last-tab-element wcag-modal-last-element">Yes</button>
                </div>
            </section>
        </div>
    </div>

    <div id="modal-dashboard-print-students" class="dm-ui-modal-container">
        <div class="dm-ui-modal dm-ui-modal-green" role="dialog" aria-modal="true" aria-label="Print Reports: Student Profile">
            <button type="button" class="close_icon first-tab-element wcag-modal-first-element" aria-label="Close"></button>
            <h1 class="modal-header">Print Reports: Student Profile</h1>
            <section>
                <div aria-checked="false" class="dm-ui-checkbox dm-ui-menuitem-checkbox" role="checkbox" tabindex="0"><input id="check-all-students-modal" name="check-all-students-modal" type="checkbox"><label for="check-all-students-modal"> Select All</label></div>
                <div class="students-wrapper" @*tabindex="-1"*@></div>
                <div class="dm-ui-modal-button-container-dual">
                    <button class="dm-ui-button-medium dm-ui-button-secondary" id="cancel-dashboard-print-students">Cancel</button>
                    <button class="dm-ui-button-medium dm-ui-button-primary last-tab-element wcag-modal-last-element" id="apply-dashboard-print-students">Generate PDF</button>
                </div>
            </section>
        </div>
    </div>

    @if (!Model.IsProd)
    {
        <div id="debug-graphql">
            <h3>GraphQL Queries:</h3>
            <div id="debug-graphql-filters"><h4>Filters: <span></span></h4><textarea readonly="readonly"></textarea></div>
            <div id="debug-graphql-trend-analysis"><h4>Trend Analysis: <span></span></h4><textarea readonly="readonly"></textarea></div>
            <div id="debug-graphql-gains-analysis"><h4>Gains Analysis: <span></span></h4><textarea readonly="readonly"></textarea></div>
            <div id="debug-graphql-roster"><h4>Roster: <span></span></h4><textarea readonly="readonly"></textarea></div>
        </div>
    }
</div>

@section floating_buttons
{
    <div id="button-back-to-flex" class="dm-ui-button-primary dm-ui-button-small tab" href="@Model.AppPath/dashboard/iowaflex" tabindex="0" role="button">Back to Flex</div>
}

@section page_js
{
    @Scripts.Render(BundlePath.JsDashboardIowaFlexPage)
    @Scripts.Render(BundlePath.JsDashboardLongitudinalIowaFlexPage)
}

@section js_on_document_ready
{
    var pdf_model = '@ViewBag.pdf_model';
    var isProdEnvironment = '@Model.IsProd';

    Common.Init();
    DashboardLongitudinal.Init(isProdEnvironment);
    Print.Init();
    Wcag.Init();
    Options.InitButtonsHandlers();
}

@section page_css
{
    @Styles.Render(BundlePath.CssDashboardIowaFlexPage)
    @Styles.Render(BundlePath.CssResponsiveDashboardIowaFlexPage)
    @Styles.Render(BundlePath.CssDashboardLongitudinalIowaFlexPage)
}